body {
    background-color: #EFE7DC;
}

.navbar-brand img {
    /* padding-left: 7vw; */
    width: 100%;
}

.main-poster {
    height: 40vw;
    float: left;   
    position: relative;
}

#about {
    /* position: absolute; */
    top: -6vw;
    /* right: 30vw; */
    z-index: 10;
    width: 80%;
    /* transform: rotate(-13deg); */
}

#posters {
    height: 40vw;
    overflow-y: auto;
    margin-bottom: 5vw;
}

#about-me p { 
    padding-top: 2%;
}

.p-right {
    text-align: right;
    padding-left: 30%;
}

.p-left {
    text-align: left;
    padding-right: 30%;
}

#contact-container, #about-container {
    position: relative;
}

#contact {
    float: right;
    margin: 2% 10%;
}

#phone {
    z-index: -10;
    margin: 0px;
    padding: 0px;
    position: absolute;
    left: 0px;
}

#coffee {
    z-index: -10;
    width: 40%;
    position: absolute;
    right: -8vw;
    top: 40vw;
}

img.port {
    width: 17vw;
    height: 10vw;
    padding: 0px;
    margin: 20px 0px 0px 10px;
    float: right;
}

#port-small {
    /* float: right; */
    flex-wrap: wrap;
}

#port-focus {
    float: left;
    width: 40vw;
}

.port img:hover{
    opacity: 80%;
}

.port a:hover {
    font-style: italic;
}

.port a:visited{
    color: black;
}

.port a:hover{
    background-color: unset;
    text-decoration: none;
}

.link {
    width: 10vw;
    float: right;
    margin-top: 150px;
    margin-right: 30px;
}

@media (max-width: 992px) { 
    .link {
        margin-top: 10vw;
    }

    #contact {
        margin: 0%;
    }

    #phone {
        margin-top: 12vw;;
    }

    #port-focus {
        width: 100%;
    }
}
