body {
  background-color: #EFE7DC;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  font-size: 1.6rem;
  font-weight: 300;
}

html {
  font-size: 10px;
}

#wrapper {
  height: 100%;
  overflow-x: hidden;
}

a {
  color: black;
}

a:hover {
  font-style: italic;
  color: #ec583f;
  text-decoration: none;
  opacity: 80%;
}

.img-container {
  overflow: hidden;
}

.img-container #coffee {
  opacity: 50%;
  width: 30vw;
  position: absolute;
  z-index: -10;
  right: -8vw;
  top: 27vw;
  padding: 0rem;
  margin: 0rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #ec583f;
  font-family: 'Permanent Marker', cursive;
  letter-spacing: 0.1rem;
}

#portfolio-container {
  height: 100vh;
  margin: 1vh 1vw;
}

#portfolio-container h1 {
  text-align: left;
  font-family: 'Playfair Display', serif;
  color: black;
  font-size: 6rem;
}

#portfolio-container .carousel {
  position: relative;
}

#portfolio-container .carousel a.carousel-control-next, #portfolio-container .carousel a.carousel-control-prev {
  background-color: black;
  top: 100%;
  position: absolute;
  padding: 0rem;
  height: 4vw;
  width: 4vw;
  border-radius: 4vw;
}

#portfolio-container .carousel .carousel-inner .port-info-container {
  position: relative;
}

#portfolio-container .carousel .carousel-inner .port-info-container .port-card {
  outline: none;
  border: none;
}

#portfolio-container .carousel .carousel-inner .port-info-container .port-body {
  font-size: 2rem;
}

#portfolio-container .carousel .carousel-inner .port-info-container .port-body p a:hover {
  color: black;
}

#portfolio-container .carousel .carousel-inner .port-info-container .port-body .port-text {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 100;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 90%;
}

#portfolio-container .carousel .carousel-inner .port-info-container .port-body .port-text .port-title {
  width: 100%;
}

#portfolio-container .carousel .carousel-inner .port-info-container .port-body .port-text .port-info {
  text-align: justify;
  margin: 1vw;
}

#portfolio-container .carousel .carousel-inner .port-info-container .port-body .port-text .tech {
  text-align: left;
  margin: 1vw 2vw;
}

#portfolio-container .carousel .carousel-inner .port-info-container .port-body .port-text .tech em {
  color: #ec583f;
  font-style: bold;
}

#portfolio-container .carousel .carousel-inner .port-img-container img.port-img {
  height: 95vh;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  float: right;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ec583f;
}

::-webkit-scrollbar-thumb:hover {
  background: white;
}

#contact-container {
  position: relative;
}

#contact-container .container {
  height: 45vw;
}

#contact-container .container h1 {
  text-align: right;
  opacity: 100%;
  padding-top: 5vw;
  font-family: 'Playfair Display', serif;
  color: black;
  font-size: 4rem;
}

#contact-container .container .link-container {
  padding-right: 8vw;
}

#contact-container .container .link-container .link {
  opacity: 100%;
  width: 10vw;
  float: right;
  margin-top: 15vw;
  margin-right: 3rem;
}

#contact-container::after {
  content: "";
  background: url("../images/phone3.png");
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -10;
}

#about-container {
  position: relative;
}

#about-container h1 {
  text-align: left;
  font-family: 'Playfair Display', serif;
  color: black;
  font-size: 6rem;
}

#about-container #postersCarousel {
  height: 30vw;
  overflow-y: auto;
  margin-bottom: 2vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: -2;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 0vw 0vw 50vw 0vw;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

#about-container #postersCarousel .main-poster {
  height: 30vw;
  margin-right: 1vw;
}

#about-container #postersCarousel .main-poster img {
  float: right;
}

#about-container #about-me img {
  width: 40vw;
  right: -10vw;
}

#about-container #about-me p {
  background-color: #EFE7DC;
  padding-top: 2%;
}

nav.navbar a.navbar-brand {
  padding-left: 6vw;
}

nav.navbar a.navbar-brand img {
  width: 100%;
  z-index: 100;
}

p a {
  color: #ec583f;
}

p a:hover {
  color: white;
}

.p-right {
  text-align: right;
  padding-left: 30%;
  margin-right: 8vw;
}

.p-right em {
  color: #ec583f;
}

.p-right .text-focus {
  font-size: 1.6rem;
  font-weight: 300;
}

.p-left {
  text-align: left;
  padding-right: 30%;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
/*# sourceMappingURL=styles.css.map */