$background: #EFE7DC;
$focusColor: #ec583f;

body {
    background-color: $background;
    box-sizing: border-box;
    overflow: hidden;
    font-size: 1.6rem;
    font-weight: 300;
}

html {
    font-size: 10px;
}

#wrapper {
    height: 100%;
    overflow-x: hidden;
}

a {
    color: black;
}

a:hover {
    font-style: italic;
    color: $focusColor;
    text-decoration: none;
    opacity: 80%;
}

.img-container {
    overflow: hidden;
    #coffee {
        opacity: 50%;
        width: 30vw;
        position: absolute;
        z-index: -10;
        right: -8vw;
        top: 27vw;
        padding: 0rem;
        margin: 0rem;
    }
}

h1, h2, h3, h4, h5, h6 {
    color: $focusColor;
    font-family: 'Permanent Marker', cursive;
    letter-spacing: 0.1rem;
}

#portfolio-container{
    height: 100vh;
    margin: 1vh 1vw;
    h1 {
        text-align: left;
        font-family: 'Playfair Display', serif;
        color: black;
        font-size: 6rem;
    }
    .carousel {
        position: relative;
        // .carousel-indicators {
        //     bottom: 0vw;
        //     position: absolute;
        // }
        a.carousel-control-next, a.carousel-control-prev {
            background-color: black;
            top: 100%;
            position: absolute;
            
            padding: 0rem;
            height: 4vw;
            width: 4vw;
            border-radius: 4vw;
        }
        .carousel-inner {
            .port-info-container {
                .port-card {
                    outline: none;
                    border: none;
                }
                position: relative;
                .port-body {
                    font-size: 2rem;
                    p a:hover{
                        color: black;
                    }
                    .port-text {
                        position: absolute;
                        top: 50%; 
                        left: 50%;
                        z-index: 100;
                        transform: translate(-50%, -50%);
                        width: 90%;
                        .port-title {
                            width: 100%;
                            // color: black;
                        }
                        .port-info {
                            text-align: justify;
                            margin: 1vw;
                        }
                        .tech {
                            text-align: left;
                            margin: 1vw 2vw;
                            em { 
                                color: $focusColor;
                                font-style: bold;
                            }
                        }
                    }
                }
            }
            .port-img-container {
                img.port-img {
                    height: 90vh;
                    // width: 100%;
                    object-fit: contain;
                    object-position: center;
                    float: right;
                }
            }
        }
    }
}

/* width */
::-webkit-scrollbar {
    width: 5px;
  }

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
  }

  /* Handle */
::-webkit-scrollbar-thumb {
    background: $focusColor;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: white;
  }

#contact-container {
    position: relative;
    .container {
        height: 45vw;
        h1 {
            text-align: right;
            opacity: 100%;
            padding-top: 5vw;
            font-family: 'Playfair Display', serif;
            color: black;
            font-size: 4rem;
        }
        .link-container {
            padding-right: 8vw;
            .link {
                opacity: 100%;
                width: 10vw;
                float: right;
                margin-top: 15vw;
                margin-right: 3rem;
            }
        }
    }
}

#contact-container::after {
    content: "";
    background: url("../images/phone3.png");
        background-size: cover;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: -10;
}

#about-container {
    position: relative;
    h1 {
        text-align: left;
        font-family: 'Playfair Display', serif;
        color: black;
        font-size: 6rem;
    }

    // div#squiggle1{
    //     background-image: url('../images/squiggle.png');
    //     background-repeat: no-repeat;
    //     height: 100%;
    //     width: 75vw;
    //     z-index: -1;
    //     position: absolute;
    //     top: -17vw;
    //     left: -10vw;
    // }
    #postersCarousel {
        height: 30vw;
        overflow-y: auto;
        margin-bottom: 2vw;
        display: flex;
        z-index: -2;
        justify-content: space-between;
        border-radius: 0vw 0vw 50vw 0vw;
        transform: scaleX(-1);
        .main-poster {
            height: 30vw;
            margin-right: 1vw;
            img {
                float: right;   
            }
        }
    }
    #about-me {
        img {
            width: 40vw;
            // position: absolute;
            right: -10vw;    
        }
        p {
            background-color: $background;
            padding-top: 2%;
        }
    }
}

nav.navbar {
    a.navbar-brand {
        padding-left: 6vw;
        img {
            width: 100%;
            z-index: 100;
        }
    }
}

p {
    a {
        color: $focusColor;
    }
    a:hover {
        color: white;
    }
}

.p-right {
    text-align: right;
    padding-left: 30%;
    margin-right: 8vw;
    em {
        color: $focusColor;
    }    
    .text-focus {
        font-size: 1.6rem;
        font-weight: 300;
    }
}

.p-left {
    text-align: left;
    padding-right: 30%;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

// @media (max-width: 1500px) { 
//     .p-right {
//         padding-left: 20%;
//         margin-right: 5vw;
//     }
//     #about-container {
//         #postersCarousel {
//             height: 35vw;
//             // margin-top: 5vw;
//             border-radius: 0vw 0vw 50vw 0vw;
//             .main-poster {
//                 height: 35vw;
//             }
//         }
//     }
//     .img-container {
//         overflow: hidden;
//         #coffee {
//             margin-top: 10vw;
//             top: 29vw;
//         }
//     }
// }

// @media (max-width: 1200px) {
//     .p-right {
//         padding-left: 10%;
//         margin-right: 2vw;
//     }
//     #about-container {
//         #postersCarousel {
//             height: 45vw;
//             // margin-top: 5vw;
//             border-radius: 0vw 0vw 27vw 0vw;
//             .main-poster {
//                 height: 45vw;
//             }
//         }
//     }
//     .img-container {
//         #coffee {
//             margin-top: 20vw;
//         }
//     }
//     #portfolio-container{
//         .carousel {
//             .carousel-indicators {
//                 bottom: 15vw;
//             }
//             .carousel-inner {
//                 .card {
//                     height: 55vw;
//                    .card-body {
//                        height: 15vw;
//                    }
//                 }
//             }
//         }
//     }
//     #contact-container {
//         .container {
//             .link-container {
//                 padding-right: 14vw;
//             }
//         }
//     }       
// }

// @media (max-width: 1000px) {
//     #about-container {
//         #postersCarousel {
//             height: 50vw;
//             border-radius: 0vw 0vw 27vw 0vw;
//             .main-poster {
//                 height: 50vw;
//             }
//         }
//     }
//     .p-right {
//         padding-left: 0%;
//     }
//     #contact-container {
//         height: 56vw;
//         .container {
//             .link-container {
//                 padding-right: 20vw;
//             }
//         }
//     }
  
// }

// @media (max-width: 991px) {
//     .p-right {
//         padding-left: 30%;
//     }
//     #about-container {
//         #postersCarousel {
//             display: none;
//         }
//     }
//     .img-container {
//         #coffee {
//             top: 30vw;
//         }
//     }
//     #contact-container {
//         .container {
//             .link-container {
//                 padding-right: 8vw;
//                 .link {
//                     width: 12vw;
//                 }
//             }
//         }
//     }
// }

// @media (max-width: 880px) {
//     .img-container {
//         #coffee {
//             margin-top: 39vw;
//         }
//     }
//     #contact-container {
//         .container {
//             .link-container {
//                 padding-right: 13vw;
//                 .link {
//                     opacity: 100%;
//                     width: 12vw;
//                     margin-top: 10vw;
//                 }
//             }
//         }
//     }
// }

// @media (max-width: 768px) {
//     .img-container {
//         #coffee {
//             margin-top: 60vw;
//         }
//     }
//     #portfolio-container{
//         .carousel {
//             .carousel-indicators {
//                 bottom: 15vw;
//             }
//             .carousel-inner {
//                 .card {
//                     height: 65vw;
//                    .card-body {
//                        height: 15vw;
//                     p {
//                         margin: 1vw;
//                     }
//                    }
//                    img.port {
//                        height: 50vw;

//                    }
//                 }
//             }
//         }
//     }
//     #contact-container {
//         .container {
//             .link-container {
//                 padding-right: 5vw;
//                 .link {
//                     width: 12vw;
//                     margin-top: 10vw;
//                 }
//             }
//         }
//     }
// }

// @media (max-width: 615px) {
//     .img-container {
//         #coffee {
//             margin-top: 100vw;
//         }
//     }
//     #portfolio-container{
//         .carousel {
//             .carousel-indicators {
//                 bottom:20vw;
//             }
//             .carousel-inner {
//                 .card {
//                     height: 70vw;
//                    .card-body {
//                        height: 20vw;
//                    }
//                    img.port {
//                     height: 50vw;
//                 }
//                 }
//             }
//         }
//     }  
//     #contact-container {
//         .container {
//             height: 60vw;
//             .link-container {
//                 padding-right: 9vw;
//                 .link {
//                     width: 12vw;
//                     float: right;
//                     margin-top: 5vw;
//                 }
//             }
//         }
//     }
  
// }

// @media (max-width: 500px) {
//     .p-right {
//         padding-left: 0%;
//     }
//     .img-container {
//         #coffee {
//             top: 25vw;
//         }
//     }
//     #portfolio-container{
//         .carousel {
//             .carousel-indicators {
//                 bottom:23vw;
//             }
//             a.carousel-control-next, a.carousel-control-prev {
//                 margin: 27vw 0vw;
//                 height: 6vw;
//                 width: 6vw;
//             }
//             .carousel-inner {
//                 .card {
//                     height: 80vw;
//                    .card-body {
//                        height: 25vw;
//                    }
//                    img.port {
//                     height: 55vw;
//                 }
//                 }
//             }
//         }
//     }  
//     #contact-container {
//         .container {
//             height: 65vw;
//             .link-container {
//                 padding-right: 15vw;
//                 .link {
//                     width: 12vw;
//                 }
//             }
//         }
//     }
//     #contact-container::after {
//         opacity: 60%;
//     }
// }

// @media (max-width: 450px) {
//     .p-right {
//         margin-right: 0;
//     }
//     .img-container {
//         #coffee {
//             top: 50vw;
//         }
//     }
//     #portfolio-container{
//         .carousel {
//             .carousel-indicators {
//                 bottom:33vw;
//             }
//             a.carousel-control-next, a.carousel-control-prev {
//                 margin: 27vw 0vw;
//                 height: 6vw;
//                 width: 6vw;
//             }
//             .carousel-inner {
//                 .card {
//                     height: 90vw;
//                    .card-body {
//                        height: 35vw;
//                    }
//                    img.port {
//                     height: 55vw;
//                 }
//                 }
//             }
//         }
//     } 
//     #contact-container {
//         margin-top: 5vw;
//         .container {
//             height: 70vw;
//             .link-container {
//                 padding-right: 0vw;
//                 .link {
//                     width: 15vw;
//                     margin-top: 0vw;
//                     float: right;
//                 }
//             }
//         }
//     }
// }