body {
    background-color: #EFE7DC;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    color: #ec583f;
    /* font-family: 'Alegreya Sans', sans-serif; */
    font-family: 'Permanent Marker', cursive;

    letter-spacing: 0.1vw;
}

#about-container h1, #portfolio-container h1 {
    text-align: left;
}



#about-container h1, #portfolio-container h1, #contact-container h1 {
    font-family: 'Playfair Display', serif;

    color: black;
    font-size: 4em;

}

.navbar-brand img {
    padding-left: 3vw;
    width: 100%;
}

.main-poster {
    height: 40vw;
    margin-right: 1vw;
    float: left;   
    position: relative;
}

#about {
    top: -6vw;
    z-index: 10;
    width: 80%;
}

#posters {
    height: 40vw;
    overflow-y: auto;
    margin-bottom: 5vw;
    display: flex;
    justify-content: space-between;
}

#about-me p { 
    padding-top: 2%;
}

p a {
    color: #ec583f;
}

p a:hover {
    color: white;
}

.p-right {
    text-align: right;
    padding-left: 30%;
}

.p-left {
    text-align: left;
    padding-right: 30%;
}

#contact-container, #about-container {
    position: relative;
}

#contact {
    float: right;
    margin: 2% 10%;
}

#phone {
    z-index: -10;
    margin: 0px;
    padding: 0px;
    position: absolute;
    left: 0px;
}

#coffee {
    z-index: -10;
    width: 40%;
    position: absolute;
    right: -8vw;
    top: 40vw;
}

.carousel {
    /* background-color: #EFE7DC; */
    opacity: 100%;
    height: 55vw;
    width: 65vw;
}

.card-text {
    text-align: center;
}

.card-body {
    /* background-color: white; */
    opacity: 100%;
}

img.port {
    /* width: 20vw; */
    height: 40vw;
    padding: 0px;
    /* margin: 20px 0px 0px 10px; */
    /* float: right; */
}

#port-small {
    /* float: right; */
    flex-wrap: wrap;
}

#port-focus {
    float: left;
    width: 40vw;
}

.port img:hover{
    opacity: 80%;
}


a {
    color: black;
}

a:hover {
    font-style: italic;
    color: #ec583f;
    text-decoration: none;
    opacity: 80%;
}

.link {
    width: 10vw;
    float: right;
    margin-top: 150px;
    margin-right: 30px;
}

@media (max-width: 992px) { 
    .link {
        margin-top: 10vw;
    }

    #contact {
        margin: 0%;
    }

    #phone {
        margin-top: 12vw;;
    }

    #port-focus {
        width: 100%;
    }
}
