$color-background: #EFE7DC;
$color-primary: #ec583f;
$color-black: #000000;

$font-primary: 'Playfair Display', serif;
$font-secondary: 'Permanent Marker', cursive;



body {
    background-color: $color-background;
    box-sizing: border-box;
    overflow: hidden;
    font-size: 1.6rem;
    font-weight: 300;
}

html {
    font-size: 10px;
}

a {
    color: $color-black;
    &:hover {
        font-style: italic;
        color: $color-primary;
        text-decoration: none;
        opacity: 80%;
    }
}

h1, h2, h3, h4, h5, h6 {
    color: $color-primary;
    font-family: $font-secondary;
    letter-spacing: 0.1rem;
}

p {
    a {
        color: $color-primary;
        &:hover {
            color: white;
        }
    }
}

.p-{
    &right {
        text-align: right;
        padding-left: 30%;
        margin-right: 8vw;
        font-size: 1.8rem;
        font-weight: 300;   
        em {
            color: $color-primary;
        }    
    }
    &left {
        text-align: left;
        padding-right: 30%;
    }
}


a.navbar-brand {
    padding-left: 6vw;
    img {
        width: 100%;
        z-index: 100;
    }
}


#wrapper {
    height: 100%;
    overflow-x: hidden;
}

#portfolio-container{
    height: 100vh;
    margin: 1vh 1vw;
    position: relative;
    h1 {
        margin-left: 5vw;
        text-align: left bottom;
        font-family: $font-primary;
        color: $color-black;
        font-size: 6rem;
        height: 10vh;
    }
    .port-info-container {
        height: 90vh;
        padding-right: 20vw;
        font-size: 2rem;
        .indicator-container {
            height: 5vh;
            width: fit-content;
            position: absolute;
            margin-top: 2vw;
            bottom: 0;
            left: 50%;
            transform: translate(-50%);
            p {
                text-align: center;  
                padding-top: 1vh;
                margin: 0 5vw;
            }
            a.carousel-control-next, a.carousel-control-prev {
                opacity: 1;
                padding: 1rem 0rem;
                position: absolute;
                img {
                    position: absolute;
                    width: 5rem;
                }
            }
        }
        #project-info {
            height: 85vh;
            width: 90%;
            padding: 2vw;
            position: absolute;
            overflow-y: scroll;

            .tech {
                text-align: left;
                margin: 1vw;
                em { 
                    color: $color-primary;
                    font-style: bold;
                }
            }
        }
    }
    .port-img-container {
        position: relative;
        height: 90vh;
        img.port-img {
            height: 100vh;
            object-fit: contain;
            object-position: top left;
            float: right;
            display: block;
            margin-left: auto;
            margin-right: auto 
        }
    }
}

#spacer {
    height: 0vh;
    width: 100%;
    display: block;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
  }

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
  }

  /* Handle */
::-webkit-scrollbar-thumb {
    background: $color-primary;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: white;
  }

#contact-container {
    position: relative;
    height: 45vw;
    h1 {
        text-align: right;
        padding: 0;
        position: absolute;
        right: 20vw;
        top: 8vh;
        font-family: $font-primary;
        color:$color-black;
        font-size: 6rem;
    }
    .link-container {
        width: fit-content;
        position: absolute;
        top: 50%;
        left: 43%;
        img.link {
            opacity: 100%;
            height: 12vh;
            margin-right: 3rem;
        }
    }
}

#contact-container::after {
    content: "";
    background: url("../images/phone3.png");
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -10;
    background-repeat: no-repeat;
    background-position: top center;
}

#about-container {
    position: relative;
    h1 {
        text-align: left;
        font-family: 'Playfair Display', serif;
        color: black;
        font-size: 6rem;
    }
    #postersCarousel {
        height: 30vw;
        overflow-y: auto;
        margin-bottom: 2vw;
        display: flex;
        z-index: -2;
        justify-content: space-between;
        border-radius: 0vw 0vw 50vw 0vw;
        transform: scaleX(-1);
        .main-poster {
            height: 30vw;
            margin-right: 1vw;
            img {
                float: right;   
            }
        }
        .image-reel {
            display: none;
        }
    }
    #about-me {
        img {
            width: 40vw;
            right: -10vw;    
        }
        p {
            background-color: $color-background;
            padding-top: 2%;
        }
    }
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

  @import './mediaqueries';