body {
  background-color: #EFE7DC;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

#wrapper {
  height: 100%;
  overflow-x: hidden;
}

a {
  color: black;
}

a:hover {
  font-style: italic;
  color: #ec583f;
  text-decoration: none;
  opacity: 80%;
}

.img-container {
  overflow: hidden;
}

.img-container #coffee {
  opacity: 50%;
  width: 30vw;
  position: absolute;
  z-index: -10;
  right: -8vw;
  top: 27vw;
  padding: 0px;
  margin: 0px;
}

h1, h2, h3, h4, h5, h6 {
  color: #ec583f;
  font-family: 'Permanent Marker', cursive;
  letter-spacing: 0.1em;
}

#portfolio-container h1 {
  text-align: left;
  font-family: 'Playfair Display', serif;
  color: black;
  font-size: 4em;
}

#portfolio-container .carousel {
  opacity: 100%;
  height: 40vw;
  width: 65vw;
  margin-bottom: 3vw;
}

#portfolio-container .carousel .carousel-inner .card {
  height: 50vw;
  outline: none;
  border: none;
}

#portfolio-container .carousel .carousel-inner .card-text {
  text-align: center;
}

#portfolio-container .carousel .carousel-inner .card-body {
  background-color: white;
  opacity: 100%;
  height: 10vw;
  overflow: auto;
  font-size: 1vw;
}

#portfolio-container .carousel .carousel-inner .card-body p a:hover {
  color: black;
}

#portfolio-container .carousel .carousel-inner .card-body .port-info {
  text-align: justify;
  margin: 1vw 6vw;
}

#portfolio-container .carousel .carousel-inner .card-body .tech {
  text-align: left;
  margin: 1vw 6vw;
}

#portfolio-container .carousel .carousel-inner .card-body .tech em {
  color: #ec583f;
  font-style: bold;
}

#portfolio-container .carousel .carousel-inner img.port {
  height: 40vw;
  padding: 0px;
}

#portfolio-container .carousel .carousel-inner img.port img:hover {
  opacity: 80%;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #EFE7DC;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ec583f;
}

::-webkit-scrollbar-thumb:hover {
  background: white;
}

#contact-container {
  margin-top: 5vw;
  height: 45vw;
  background-image: url("../images/phone3.png");
  background-size: cover;
}

#contact-container h1 {
  text-align: right;
  padding-top: 5vw;
  font-family: 'Playfair Display', serif;
  color: black;
  font-size: 4em;
}

#contact-container .link {
  width: 10vw;
  float: right;
  margin-top: 15vw;
  margin-right: 30px;
}

#about-container h1 {
  text-align: left;
  font-family: 'Playfair Display', serif;
  color: black;
  font-size: 4em;
}

#about-container #postersCarousel {
  height: 30vw;
  overflow-y: auto;
  margin-bottom: 2vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 0vw 0vw 50vw 0vw;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

#about-container #postersCarousel .main-poster {
  height: 30vw;
  margin-right: 1vw;
}

#about-container #postersCarousel .main-poster img {
  float: right;
}

#about-container #about-me img {
  width: 40vw;
  position: absolute;
  right: -10vw;
}

#about-container #about-me p {
  background-color: #EFE7DC;
  padding-top: 2%;
}

.navbar-brand img {
  padding-left: 3vw;
  width: 100%;
}

p a {
  color: #ec583f;
}

p a:hover {
  color: white;
}

.p-right {
  text-align: right;
  padding-left: 30%;
  margin-right: 8vw;
}

.p-right em {
  color: #ec583f;
}

.p-right .text-focus {
  font-size: 1.3em;
  font-weight: 300;
}

.p-left {
  text-align: left;
  padding-right: 30%;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

@media (max-width: 1500px) {
  .p-right {
    padding-left: 20%;
    margin-right: 5vw;
  }
  #about-container #postersCarousel {
    height: 35vw;
    border-radius: 0vw 0vw 50vw 0vw;
  }
  #about-container #postersCarousel .main-poster {
    height: 35vw;
  }
  #contact-container {
    margin-top: 10vw;
  }
  .img-container {
    overflow: hidden;
  }
  .img-container #coffee {
    margin-top: 10vw;
    top: 29vw;
  }
}

@media (max-width: 1200px) {
  .p-right {
    padding-left: 10%;
    margin-right: 2vw;
  }
  #about-container #postersCarousel {
    height: 45vw;
    border-radius: 0vw 0vw 27vw 0vw;
  }
  #about-container #postersCarousel .main-poster {
    height: 45vw;
  }
  .img-container #coffee {
    margin-top: 20vw;
  }
}

@media (max-width: 1000px) {
  #about-container #postersCarousel {
    height: 50vw;
    border-radius: 0vw 0vw 27vw 0vw;
  }
  #about-container #postersCarousel .main-poster {
    height: 50vw;
  }
  .p-right {
    padding-left: 0%;
  }
  #contact-container {
    margin-top: 10vw;
  }
}

@media (max-width: 991px) {
  .p-right {
    padding-left: 30%;
  }
  #about-container #postersCarousel {
    display: none;
  }
  .img-container #coffee {
    top: 30vw;
  }
}

@media (max-width: 880px) {
  .img-container #coffee {
    margin-top: 39vw;
  }
}

@media (max-width: 750px) {
  .img-container #coffee {
    margin-top: 60vw;
  }
  #contact-container {
    margin-top: 10vw;
  }
}

@media (max-width: 615px) {
  .img-container #coffee {
    margin-top: 100vw;
  }
  #contact-container .link {
    margin-top: 5vw;
  }
}

@media (max-width: 500px) {
  .p-right {
    padding-left: 0%;
  }
  .img-container #coffee {
    top: 25vw;
  }
}

@media (max-width: 450px) {
  .p-right {
    margin-right: 0;
  }
  .img-container #coffee {
    top: 50vw;
  }
  #contact-container h1 {
    color: black;
  }
}
/*# sourceMappingURL=styles.css.map */